body{
    background-color: lightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    background-color: white;
    padding:20px;
    width:400px auto;
}
#result{
    background-color: rgb(245, 192, 255);
}